@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600&display=swap');

body {
  margin: 0;
  background-color: #143035;
  color: #C3E0DF;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #C3E0DF;
}
